---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectList from '../components/ProjectList.jsx';
---
<BaseLayout>
  <section class="section-container profile-section">
    <h1 class="headliner">jesper misiorny</h1>
    <p class="tagline">developer • designer • problem solver</p>
    <p class="description">
		Hi there, I'm Jesper—a dedicated full-stack developer with a passion for frontend design and user experience. I specialize in creating modern, engaging websites, with a focus on minimalism and functionality. Beyond coding, I love exploring new technologies and tackling creative problem-solving challenges. 
    </p>
    <div class="socials">
			<a href="mailto:jesper.misiorny@hotmail.com" target="_blank" 		class="social-icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" width="24" height="24">
          <path d="M20 4H4a2 2 0 00-2 2v12a2 2 0 002 2h16a2 2 0 002-2V6a2 2 0 00-2-2zm-2.4 2L12 10.66 6.4 6h11.2zM4 18V8.5l7.25 4.78a1 1 0 001.5 0L20 8.5V18H4z" />
        </svg>
      </a>
      <a href="https://www.linkedin.com/in/jespermisiorny/" target="_blank" class="social-icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" width="24" height="24">
          <path d="M19 0H5C2.25 0 0 2.25 0 5v14c0 2.75 2.25 5 5 5h14c2.75 0 5-2.25 5-5V5c0-2.75-2.25-5-5-5zM8.5 19.5H5.25V8.75h3.25v10.75zm-1.625-12c-1.075 0-1.875-.8-1.875-1.875 0-1.1.8-1.875 1.875-1.875s1.875.8 1.875 1.875c0 1.1-.8 1.875-1.875 1.875zM20 19.5h-3.25v-5.525c0-1.4-.525-2.375-1.75-2.375-.9 0-1.45.6-1.675 1.175-.075.175-.075.425-.075.7V19.5H10v-10.75h3.125v1.35c.4-.65 1.125-1.5 2.725-1.5 2 0 3.525 1.275 3.525 4v6.9z" />
        </svg>
      </a>
      <a href="https://github.com/jespermisiorny" target="_blank" class="social-icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" width="24" height="24">
          <path d="M12 .5C5.73.5.5 5.73.5 12c0 5.07 3.29 9.38 7.86 10.88.57.1.77-.24.77-.54v-1.92c-3.2.69-3.86-1.53-3.86-1.53-.52-1.34-1.26-1.7-1.26-1.7-1.03-.71.08-.7.08-.7 1.14.08 1.74 1.16 1.74 1.16.9 1.74 2.66 1.24 3.3.95.1-.73.4-1.24.72-1.52-2.55-.28-5.23-1.28-5.23-5.73 0-1.27.45-2.31 1.18-3.13-.12-.29-.51-1.46.11-3.04 0 0 .96-.31 3.14 1.18a10.9 10.9 0 015.72 0c2.18-1.49 3.14-1.18 3.14-1.18.62 1.58.23 2.75.12 3.04.73.82 1.18 1.86 1.18 3.13 0 4.46-2.7 5.45-5.26 5.72.42.36.78 1.07.78 2.16v3.2c0 .3.2.64.78.54 4.57-1.5 7.86-5.81 7.86-10.88C23.5 5.73 18.27.5 12 .5z" />
        </svg>
      </a>
    </div>
  </section>
	  <section class="section-container projects-section">
    <p class="project-tagline">Projects</p>
    <!-- Astro Island -->
    <ProjectList client:load />
  </section>
</BaseLayout>